<ion-header>

    <ion-toolbar color='primary'>
        <ion-buttons slot="end">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>

        <ion-title>
            Лабораторні роботи
        </ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-title>
            ЛР №6
        </ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-title>
            Мельник М. КН-31
        </ion-title>
    </ion-toolbar>


</ion-header>


<ion-content [fullscreen]="true">

    <ion-card>
        <ion-card-header>
            <ion-card-title>Завдання</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>Дана наступна ієрархія класів:</p>
            <p>- Двигун</p>
            <p>- Реактивний двигун</p>
            <p>- Двигун внутрішнього згорання</p>
            <p>- Дизель</p>
        </ion-card-content>

        <ion-button (click)="ras()" expand="block" fill="clear">
            Завантажити
        </ion-button>
    </ion-card>
</ion-content>