<ion-header [translucent]="true">
    <ion-toolbar color='primary'>
        <ion-buttons slot="end">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>

        <ion-title>
            Лабораторні роботи
        </ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-title>
            Лабораторна робота №1
        </ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-title>
            Виконав студент групи КН-31 Мельник Максим
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>

        <ion-card-header>
            <ion-card-title>Проміжок</ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <p class="p_background">
                На заданому проміжку чисел [a,b] знайдіть кількість чисел, які кратні 17, парні і при діленні на 7 дають в остачі 3.
            </p>

            <ion-item>
                <ion-label position="floating">Перше число</ion-label>
                <ion-input type="number" id='a' value='1' #Inputa></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Друге число</ion-label>
                <ion-input type="number" id='b' value='2' #Inputb></ion-input>
            </ion-item>

            <ion-button (click)="ras(Inputa.value, Inputb.value)" expand="block" fill="clear" shape="round">
                Розрахунок
            </ion-button>

            <ion-item>
                <p>Результат обчислення: {{d}}</p>
            </ion-item>

        </ion-card-content>
    </ion-card>
</ion-content>